.cl1 {
    text-align: right;
}
h2.cl1{
    font-size: 34px;
}
p.cl1{
    color: red;
    
}
.large{
    font-size: 200%;
}
p{text-align: center;}

/* .wrapper__img{
    position: relative;
} */

.img{
    position: relative;
}
